<header class="row site-header">

  <div class="small-12 columns wrapper">

    <div class="row">
      <div class="small-6 columns">
        <!-- make h1 if homepage -->
        {% if page.logo_heading %}
          <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        {% else %}
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% endif %}
      </div>
      <div class="small-6 columns">
        <nav>
          <ul class="menu menu-hover-lines text-right">
            {% assign links = site.data.global-navigation %}
            {% for link in links %}
              <li>
                <a href="{{ link.url }}">{{ link.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

  </div>

</header>