/* ==========================================================================
   Dependency Files: Z-Index Master List
   ========================================================================== */

$zindex-GlobalNav   : 110;  // Global Navigation
$zindex-SkipNav     : 105;  // Skip Navigation Link
$zindex-BacktoTop   : 99;   // Back to Top Overlay
$zindex-Headers     : 98;   // Page Header
$zindex-PageNav     : 97;   // Page Navigation
$zindex-PageTop     : 50;   // Page Top Layer
$zindex-PageMiddle  : 25;   // Page Middle Layer
$zindex-PageBottom  : 10;   // Page Bottom Layer